ul{
    list-style: none;
    background-color: rgba(0, 0, 0, 0.486);
    margin: 0%;
    margin: 0 0 0 20%;
    
}

li{
    line-height: 50px;
    float: left;
    color: black;
    float: left;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s ;
}

li a{
    text-decoration: none;
    display: block;
    padding: 0 20px;
    color: white;
}

a:hover{
    background-color: rgba(255, 255, 255, .3);
}

nav{
    background-color: rgba(0, 0, 0, 0.486);
    height: 10vh;
}

ul li ul{
    /* background-color: black; */
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all .5s ease;
    left: 0%;
    display: none;
    width: 150%;
}

ul li:hover > ul, ul li ul:hover{
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}