.painel{
    background: linear-gradient(-135deg, #a4b0be, #747d8c,#f1f2f6);
    color: white;
}


.playlists{
    /* background-color: red; */
    height: 120vh;
}

.playlists button{
    border-radius: 30px;
}

.pesquisas{
    padding: 50px;
    /* background-color: red; */
}

.pesquisas iframe{
    padding-left: 80px;
    border: none;
}

#esti_rock{
    display: none;
}

#esti_trap{
    display: none;
}

#esti_sertanejo{
    display: none;
}

#esti_rap{
    display: none;
}

#esti_pagode{
    display: none;
}

#esti_romantica{
    display: none;
}

#esti_geek{
    display: none;
}

#esti_funk{
    display: none;
}

#esti_samba{
    display: none;
}

.pesquisa { 
    margin-left: 10vw;
    width: 450px;
    background: rgba(255, 255, 255, 0.082);
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
}

.pesquisa input{
    width: 70%;
    height: 5vh;
    border: none;
    border-bottom:2px solid silver;
    font-size: 17px;
    background: rgba(255, 255, 255, 0);
    /* color: white; */
}