@keyframes bounce {
    0%,20%, 60%, 100%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40%{
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80%{
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    width: 10px;
    /* background-color: red; */
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, #000,#7c7c7c,#000);
    border-radius: 30px;
}

.header{
    background-image: url(../img/cinza.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

    width: 99.25vw;
    height: 70vh;

    margin-top: 0%;

    text-align: center;
    align-items: center;
}

.header h1{
    margin: 10% 0 0 15%;
    font-size: 3em;
    /* color: 	#fdd700; */
    position: absolute;
}

*{
    margin: 0;
}

.coluna_header{
    text-align: center;
    /* background-color: red; */
    /* position: relative; */
    width: 50vw;
    height: 75vh;
    color: black;
    margin: 0 0 0 25%;
}

.coluna_header p{
    color: black;
    margin: 15% 0 0 0;
    position: absolute;
}

.cadastrar{
    /* margin: 10px 0 0 -15%; */
    border-radius: 30px;
    width: 10vw;
    height: 3.5vh;
    background-color: #0000ff23;
    border: none;
    font-size: .9rem;
    cursor: pointer;
    /* float: left; */
}

.btn_menu{
    border-radius: 30px;
    width: 7vw;
    height: 6vh;
    background: none;
    font-size: .9rem;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #ffffff;
    margin: 3vh 0 0 0;
    outline: none;
    box-shadow: inset 0 0 0 0 white;

}

.btn_menu:hover{
    box-shadow:inset 7vw 0 0 0 white;
    color: black;
    border: 2px solid rgba(0, 0, 0, 0.562);
}



.coluna_informacoes{
    text-align: center;
    /* background-color: red; */
    /* position: relative; */
    width: 50vw;
    height: 50vh;
    color: black;
    margin: 0 0 0 25%;
}

.informacoes{
    /* background: linear-gradient(-135deg, #caebf2, #438496); */
    background-color: #a9a9a994;
    height: 60vh;
}

.informacoes img{
    width: 25vw;
    height: 40vh;
    position: absolute;
    margin: 5vh 0 0 10vw;
    border-radius: 100%;

}

.texto{
    /* background-color: red; */
    position: absolute;
    margin: 15vh 0 0 0vw;
    width: 30vw;
    height: 30vh;
    /* color: white; */
}

.pag1 h1 {
    position: absolute;
    margin: 10vh 0 0 7vw;
    /* color: white; */
}

.coluna_historia{
    text-align: center;
    /* background-color: red; */
    /* position: relative; */
    width: 50vw;
    height: 75vh;
    color: black;
    margin: 0 0 4vh 45%;
}

.historia img{
    width: 25vw;
    height: 40vh;
    position: absolute;
    margin: 10% 0vw 0 -55vw;
    border-radius: 100%;
    /* box-shadow: inset 5px 10px 10px rgba(119, 119, 119, 0.609); */
}

.divisao{
    background: linear-gradient(360deg, #000,#7c7c7c);
    /* background-color: #000000ad; */
    height: 1vh;
}

.footer{
    background: linear-gradient(360deg, #000,#7c7c7c);

    /* background-color: #000000; */
    height: 10vh;
    color: white;
    text-align: center;
}

.footer h5{
    margin: 0;
    padding-top: 4vh;
}

.header_beneficios{
    background-image: url(../img/pexels-kaboompics-com-6320.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

    width: 100vw;
    height: 100vh;

    margin-top: 0%;

    text-align: center;

    color: #000000;

}

.menu_beneficios{
    width: 2vw;
    height: 5vh;
    cursor: pointer;
}

.info_beneficios{
    background-image: url(../img/fundobeneficios.jpg);
}

.info_beneficios img{
    width: 40vw;
    height: 60vh;
    /* position: absolute; */
    margin: 10vh 0vw 10vh 10vw;
    /* border-radius: 100%; */
}

.info_beneficios h1 {
    position: absolute;
    margin: 3vh 0 0 40vw;
    /* color: white; */
}

.texto_beneficios{
    /* background-color: red; */
    position: absolute;
    margin: 15vh 0 0 55vw;
    width: 40vw;
    height: 65vh;
    text-align: center;
}

.info_beneficios{
    /* background-color: red; */
    /* height: 100vh; */
    margin-bottom: 50vh;
}

.coluna_beneficios{
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.246); */
    border-radius: 30px;
    position: absolute;
    width: 50vw;
    height: 25vh;
    color: rgb(255, 0, 0);
    margin: 40vh 0 0 25%;
}

.header_estilos{
    background-image: url(../img/fundogeneros.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    /* background-color: red; */
    height: 75vh;
    text-align: center;
}



.coluna_estilos{
    /* background-color: rgba(117, 117, 117, 0.39); */
    border-radius: 30px;
    position: absolute;
    margin: 10% 0 0 25%;
    /* color: rgb(200, 200, 255); */
}

.coluna_estilos h1{
    font-size: 3em;
}

.generos{
    /* background-color: red; */
    height: 80vh;
}

.generos h1{
    margin-top: 3vh;
}

.coluna_esquerda img{
    width: 30vw;
    height: 40vh;
    margin: -30vh 0 0 50%;
    border-radius: 50%;
}

.coluna_esquerda iframe{
    width: 30vw;
    height: 40vh;
    margin: -30vh 0 0 50%;
    border-radius: 30px;
}

.coluna_direita iframe{
    width: 30vw;
    height: 40vh;
    margin: -30vh 0 0 -50%;
    border-radius: 30px;
}


.audio{
    margin: 5vw 60vw 0 0;
    width: 30vw;

}

.texto_esquerda{
    /* background-color: red; */
    width: 35vw;
    height: 30vh;
    margin: 10vh 0 0 15%;
    text-align: justify;
}

.texto_direita{
    width: 35vw;
    height: 30vh;
    margin: 10vh 0 0 50%;
    text-align: justify;

}

.texto_esquerda p{
    margin-top: 1vh;
}
.texto_direita p{
    margin-top: 1vh;
}

.coluna_direita img{
    width: 30vw;
    height: 40vh;
    margin: -30vh 0 0 -50%;
    border-radius: 50%;
}

.header_painel{
    background-color: #006eff8e; 
    height: 9vh;
}

.destaque{
    background-color: rgb(255, 255, 0);
    height: 1vh;
}

.navegacao{
    color: white;
    float: left;
}

.painel h1{
    margin: 20px 0 0 5vw;
}

.painel h2{
    margin: 4vh 0 0 10vw;
}

.ul_painel{
    float: left;
}


.img_music{
    margin: 2vh 5vw 0 10vw;
    float: left;
    width: 17vw;
    height: 20vh;

}

.img_music img {
    width: 17vw;
    height: 20vh;
    border-radius: 10%;
}

.container {
    margin: 0vh 0 0 0vw;
    height: 80vh;
}

.container_generos{
    text-align: center;
}

.menu{
    width: 2vw;
    height: 5vh;
    cursor: pointer;
}

label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}

.container_favoritos{
    height: 90vh;
    padding: 2% 0 0 25%;
    /* color: white; */
    background: linear-gradient(-135deg, #a4b0be, #747d8c,#f1f2f6);
    /* background-color: #7c7c7c; */
    /* display: none; */
}

.container_favoritos h2{
    padding-bottom: 5vh;
}

/* #favoritos{
    display: none;
} */

::-webkit-input-placeholder {
    color: black;
    font-weight: 700;
    padding-left: 9px;
 }

.cadastrar{
    border-radius: 30px;
    width: 75px;
    height: 25px;
}

a {
    animation: none;
    color: black;
    text-decoration: none;
}


.apps{
    height: 70vh;
    background-image: url(../img/fundoazul.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.header_apps{
    position: absolute;
    height: 30vh;
    width: 40vw;
    margin: 10vh 0 0 15vw;
    text-align: center;
    border-radius: 30px;

}

.header_apps h1{
    margin: 0 0 2vh 0;
}

.container_formularios{
    background-image: url(../img/fundocadastro.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 90vh;
    margin: 2%;
    display: flex;
}


.container_formularios h1{
    padding: 3%;
}

.container_login{
    padding: 5% 0 0 3% ;
    width: 40%;
    height: 87.7%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.container_cadastro{
    padding: 2% 3% ;
    width: 40%;
    height: 90%;
    color: white;
    background-color: rgba(0, 0, 0, 0.664);    
    margin-left: 5%;
}

#obrigado{
    display: none;
}

#form_cadastro{
    display: flex;
    flex-direction: column;
}

#form_login{
    display: flex;
    flex-direction: column;
}

#form_favoritos{
    display: flex;
    flex-direction: column;
}

.form_favoritos{
    /* background-color: red; */
    width: 55%;
    height: 50%;
}

.input-padrao{
    width: 60%;
    height: 5vh;
    border: none;
    border-bottom:2px solid silver;
    font-size: 17px;
    background:none;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.input-padrao::placeholder{
    color: white;
}

.seletao{
    width: 62.5%;
    height: 5vh;
    /* border-bottom:2px solid silver; */
    background:none;
    margin-bottom: 3vh;
    border: 2px solid #ffffff93;
    /* color: white; */
    /* background-color: transparent; */
}

.somos{
    height: 80vh;
    background-image: url(../img/fundo\ somos.jpg);
}

.foto img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.corno{
    /* background-color: red; */
    width: 90%;
    height: 55%;
    margin: auto;
}

.foto{
    font-size: 1.3em;
    height: 300px;
    width: 220px;
    text-align: center;
    position: absolute;
    margin: 6vw 0 0 15vw;
    padding-top: 10px;
    box-shadow: 5px 5px 10px 3px grey;
    border-radius: 30px;
}

.links img{
    width: 3vw;
    height: 5vh;
    float: left;
    margin: 2vh 0 0 2vw ;
    
}

.links{
    background-color: rgba(255, 255, 255, 0);
    margin-top: 12%;
    float: left;
}

.texto_somos{
    background-color: rgba(128, 128, 128, 0.219);
    width: 40vw;
    height: 30vh;
    text-align: center;
    position: absolute;
    margin: 20vh 0 0 45vw;
}

.texto_somos p {
    margin-top: 2vh;
}

.img-user img{
    width: 3vw;
    height: 6vh;
}

.img-user {
    color: white;
    position: absolute;
    margin: 2vh 0 0 55vw;
    float: left;   
}

.nome{
    margin-top: 2vh;
    margin-right: 2vw;
    color: white;
    float: left;
}

.div_grafico{
    width: 30vw;
    height: 30vh;
    margin: auto;
    margin-top: 5%;
}