body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-image: url(img/patra.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

    width: 99.2vw;
    height: 100vh;

    margin-top: 0%;

    text-align: center;
    align-items: center;
}

.header h1{
    margin: 10% 0 0 15%;
    font-size: 3em;
    color: #7e7effed;
    position: absolute;
}

*{
    margin: 0;
}

.coluna_header{
    text-align: center;
    /* background-color: red; */
    /* position: relative; */
    width: 50vw;
    height: 75vh;
    color: black;
    margin: 0 0 0 25%;
}

.coluna_header p{
    color: black;
    margin: 15% 0 0 0;
    position: absolute;
}

.cadastrar{
    /* margin: 10px 0 0 -15%; */
    border-radius: 30px;
    width: 10vw;
    height: 3.5vh;
    background-color: #0000ff23;
    border: none;
    font-size: .9rem;
    cursor: pointer;
    /* float: left; */
}

.btn_menu{
    /* margin: 10px -50% 0 10%; */
    border-radius: 30px;
    width: 10vw;
    height: 3.5vh;
    background-color: #0000ff23;
    border: none;
    font-size: .9rem;
    cursor: pointer;
    /* float: left; */
}

.coluna_informacoes{
    text-align: center;
    /* background-color: red; */
    /* position: relative; */
    width: 50vw;
    height: 50vh;
    color: black;
    margin: 0 0 0 25%;
}

.informacoes{
    background-color: rgba(0, 0, 0, 0.089);
    height: 60vh;
}

.informacoes img{
    width: 25vw;
    height: 40vh;
    position: absolute;
    margin: 5vh 0 0 10vw;
    border-radius: 100%;

}

.texto{
    /* background-color: red; */
    position: absolute;
    margin: 15vh 0 0 0vw;
    width: 30vw;
    height: 30vh;
    /* color: white; */
}

.pag1 h1 {
    position: absolute;
    margin: 10vh 0 0 7vw;
    /* color: white; */
}

.coluna_historia{
    text-align: center;
    /* background-color: red; */
    /* position: relative; */
    width: 50vw;
    height: 75vh;
    color: black;
    margin: 0 0 4vh 45%;
}

.historia img{
    width: 25vw;
    height: 40vh;
    position: absolute;
    margin: 10% 0vw 0 -55vw;
    border-radius: 100%;
    /* box-shadow: inset 5px 10px 10px rgba(119, 119, 119, 0.609); */
}

.divisao{
    background-color: #000000ad;
    height: 1vh;
}

.footer{
    background-color: #000000;
    height: 10vh;
}

.header_beneficios{
    background-image: url(img/mesa\ marrom.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

    width: 99.2vw;
    height: 100vh;

    margin-top: 0%;

    text-align: center;

    color: #000000;

}

.menu_beneficios{
    width: 2vw;
    height: 5vh;
    cursor: pointer;
}

.header_beneficios h1 {
    margin: 15% 0 0 40%;
    position: absolute;
    font-size: 3em;
    color: #fdff7e;
}


.info_beneficios img{
    width: 40vw;
    height: 60vh;
    /* position: absolute; */
    margin: 10vh 0vw 10vh 10vw;
    /* border-radius: 100%; */
}

.info_beneficios h1 {
    position: absolute;
    margin: 3vh 0 0 40vw;
    /* color: white; */
}

.texto_beneficios{
    /* background-color: red; */
    position: absolute;
    margin: 15vh 0 0 55vw;
    width: 40vw;
    height: 30vh;
    text-align: center;
}

.info_beneficios{
    /* background-color: red; */
    height: 100vh;
    margin-bottom: 50vh;
}

.coluna_beneficios{
    text-align: center;
    /* background-color: red; */
    position: absolute;
    width: 50vw;
    height: 25vh;
    color: rgb(2, 61, 255);
    margin: 40vh 0 0 25%;
}

.header_estilos{
    background-image: url(img/piano-1655558_1920.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    /* background-color: red; */
    height: 75vh;
    text-align: center;
}

.coluna_estilos{
    /* background-color: rgb(109, 109, 251); */
    position: absolute;
    margin: 10% 0 0 25%;
}

.generos{
    /* background-color: red; */
    height: 80vh;
}

.coluna_esquerda img{
    width: 30vw;
    height: 40vh;
    margin: -30vh 0 0 50%;
    border-radius: 50%;
}

.audio{
    margin: 5vw 60vw 0 0;
    width: 30vw;

}

.texto_esquerda{
    /* background-color: red; */
    width: 35vw;
    height: 30vh;
    margin: 10vh 0 0 15%;
}

.texto_direita{
    width: 35vw;
    height: 30vh;
    margin: 10vh 0 0 50%;
}

.coluna_direita img{
    width: 30vw;
    height: 40vh;
    margin: -30vh 0 0 -50%;
    border-radius: 50%;
}
















.painel{
    background-color: rgb(95, 95, 95);
    
}

.header_painel{
    /* float: left; */
    background-color: #006eff8e; 
    height: 9vh;
    /* width: 10vw; */
}

.destaque{
    background-color: rgb(255, 255, 0);
    height: 1vh;
    /* width: 10vh; */
    /* margin-left: 10vw; */
    /* float: left; */
}

.navegacao{
    color: white;
    float: left;
}

.painel h1{
    margin: 20px 0 0 5vw;
}

.painel h2{
    margin: 4vh 0 0 10vw;
}

.ul_painel{
    float: left;
}


.img_music{
    margin: 2vh 5vw 0 10vw;
    float: left;
    /* background-color: red; */
    width: 17vw;
    height: 20vh;

}

.img_music img {
    width: 17vw;
    height: 20vh;
    /* margin-left: 1vw; */
    border-radius: 10%;
}

.container {
    margin: 0vh 0 0 0vw;
    /* background-color: red; */
    height: 80vh;

}

.container_generos{
    text-align: center;
}

/* .img-site{
    background-image: url(interior\ da\ casa.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    padding-top: 200px;
    padding-bottom: 200px;

    text-align: center;
} */

.menu{
    width: 2vw;
    height: 5vh;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
    /* background-color: green; */
    position: absolute;
    top: 60px;
    width: 100%;
    height: 100%;
}

#check{
    display: none;
}
    
nav{
    background-color: #006eff8e;
    position: absolute;
    width: 20vw;
    height: 100%;
    left: -23vw;
    transition: all .5s;
 
}

a{
    /* background-color: rgba(0, 0, 255, 0.363); */
    display: block;
    padding: 20px 5px 20px 5px;
    color: white;
    
}

a:hover{
    /* background-color: cyan; */
    color: black;
}

label{
    /* background-color: rgba(255, 0, 0, 0.219); */
    padding: 15px;
    position: absolute;
    z-index: 1;
    
}

#check:checked ~ nav{
    transform: translateX(22vw);
}

/* modal */

.container_modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0%;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal_cadastro{
    background-color: #bef4fdf5;
    width: 50vw;
    height: 70vh;
    padding: 40px;
    box-shadow: 7px 13px 10px 5px rgb(114, 114, 114);
    position: relative;
    text-align: center;
    border-radius: 30px;
}

.modal_cadastro input{
    border-radius: 30px;
    margin: 1vh 0 15px 0;
    background-color: #b5deffab;
}

select{
    background-color: #b5deffab;
}


.modal_cadastro h1{
    margin:0 0 5vh 0;
}

.container_modal.mostrar {
    display: flex;

}

.mostrar {
    animation: modal .3s;
}

.modal h1 {
    margin:0 0 50px 0;
}

.modal {
    /* background-image: url(fundo_home.jpg); */
    background-color: #bef4fdf5;
 /* width: 60%;
    min-width: 300px;  */
    width: 30vw;
    height: 50vh;
    padding: 40px;
    /* border: 10px solid #7f6fff; */
    /* box-shadow: 0 0 0 10px gray; */
    box-shadow: 7px 13px 10px 5px rgb(114, 114, 114);
    position: relative;
    text-align: center;
    border-radius: 30px;
}

.modal input {
    background-color: #b5deffab;
    /* color: white; */
    border-radius: 30px;
    width: 70%;
    height: 25px;
    text-align: center;
    margin: 2vh;
}

::-webkit-input-placeholder {
    color: black;
    font-weight: 700;
    padding-left: 9px;
 }

.cadastrar{
    border-radius: 30px;
    width: 75px;
    height: 25px;
}

a {
    animation: none;
    color: black;
    text-decoration: none;

}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.close {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    /* border: 4px solid gray; */
    /* background-color: rgb(231, 114, 114); */
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
}
